/*Google fonts import for Ubuntu font*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/*Styles common to all pages*/
*{
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

header {
    padding: 2.5%;
    color: #A4C3BF;
}

h1, h2 {
    font-weight: 700;
    margin: auto;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #292d41;
    text-align: center;
    padding: 10px;
}

footer > ul {
    list-style: none;
    padding: 1%;
}

footer > ul > li {
    display: inline;
    padding: 3%;
    color: #ebeecd;
}

footer > ul > li > a {
    text-decoration: none;
    color: #ebeecd;
}

/*Styles for the landing page*/

#header-home {
    background-color: #1d1b1b;
}

#header-home > h1 {
    font-size: 300%;
}

#instructions {
    width: 100%;
    background: url(../images/coin-jar.jpg) no-repeat top center, #1D1B1B;
    background-attachment: fixed;
    background-size: 150%;
    height: 100vh;
    padding-top: 10%;
}

.instruction {
    margin: auto;
    background-color: #433D39;
    text-align: center;
    margin-bottom: 20px;
    padding: 5%;
    max-width: 250px;
}

.instruction > p {
    color: #ebeecd;
    font-size: 150%;
}

#start-button {
    margin: auto;
    background-color: #433D39;
    width: 170px;
    padding: 2%;
}

#start-button > a {
    text-decoration: none;
    color: #A4C3BF;
    text-align: center;
    font-size: 160%;
    text-transform: uppercase;
}


/*Styles for the calculator*/

/*Calculator header style rules*/

#header-calculator {
    background: url(../images/calculate-money.jpg) no-repeat top center #1D1B1B;
    background-size: 150%;
    background-attachment: fixed;
    height: 50vh;
    padding-top: 10%;
}

#header-calculator-container {
    background-color: #1D1B1B;
    padding: 20px;
    margin: auto;
    max-width: 250px;
}

#header-calculator-container > h2 {
    font-size: 140%;
}

#header-calculator-container > p {
    text-align: center;
}

/*Calculator form style rules*/

#form-section {
    background-color: #433D39;
    padding: 2%;
}

#form-container {
    background-color: #1d1b1b;
    border: 2px solid #A4C3BF;
    padding: 2%;
    margin: auto;
}

#form-container > p {
    color: #ebeecd;
    font-size: 120%;
    font-weight: 700;
}

#form-container > h3 {
    color: #ebeecd;
    font-size: 120%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

#calculator-form {
    text-align: center;
    padding: 20px;
}

#calculator-form > input {
    border: 2px solid #433D39;
    background-color: #A4C3BF;
    width: 90px;
    padding: 5px;
}

#calculator-form > label {
    color: #ebeecd;
    font-size: 100%;
}

#calculator-form > hr {
    color: #ebeecd;
    border: 2px solid #ebeecd;
}

#calculator-form > button {
    width: 150px;
    background-color: #ebeecd;
    color: #1D1B1B;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 700;
    padding: 5px;
    border: 3px solid #433D39;
}

/*Results section style rules*/
#results {
    background: url(../images/budget-money.jpg) no-repeat center center, #ebeecd;
    background-size: 400%;
    background-attachment: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
}

.results-main {
    margin: auto;
    max-width: 300px;
    background-color: #292d41;
    color: #ebeecd;
    text-align: center;
    padding: 10px;
}

.results-main > h2 {
    font-size: 120%;
}

.results-main > ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.results-main > ul > li {
    font-size: 85%;
}

.results-main > p {
    text-decoration: underline;
    font-size: 85%;
    margin-top: 10px;
}



#changes {
    background-color: #ebeecd;
    padding-top: 20px;
}

#recommendations {
    background-color: #433D39;
    padding-top: 20px;
}

 {
    font-size: 150%;
    color: #ebeecd;
}

.good {
    width: 300px;
    margin: auto;
    background-color: lightgreen;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid darkgreen;
}

.good > p {
    padding: 5px;
    color: darkgreen;
}

.ok {
    width: 300px;
    margin: auto;
    background-color: lightgoldenrodyellow;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid orange;
}

.ok > p {
    padding: 5px;
    color: maroon;
}

.bad {
    width: 300px;
    margin: auto;
    background-color: lightcoral;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid darkred;
}

.bad > p {
    padding: 5px;
    color: darkred;
}

/*Styles for the faq */

/*Media Queries*/

@media screen and (min-width: 600px) {
    .data-field-left{
        float: left;
        width: 40%;
    }

    .data-field-left{
        float: right;
        width: 40%;
    }
}