/*Google fonts import for Ubuntu font*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/*Styles common to all pages*/
*{
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

header {
    padding: 2.5%;
    color: #A4C3BF;
}

h1, h2 {
    font-weight: 700;
    margin: auto;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #292d41;
    text-align: center;
    padding-top: 20px;
}

footer > ul {
    list-style: none;
    max-width: 90%;
    margin: auto;
}

footer > ul > li {
    padding: 3%;
    color: #ebeecd;
    display: inline;
    font-size: 110%;
}

footer > ul > li > a:hover {
    color: aquamarine;
}

footer > ul > li > a {
    text-decoration: none;
    color: #ebeecd;
}

/*Styles for the landing page*/

#header-home {
    background-color: #1d1b1b;
}

#header-home > h1 {
    font-size: 300%;
}

#instructions {
    width: 100%;
    background: url(../images/coin-jar.jpg) no-repeat top center, #1D1B1B;
    background-size: 200%;
    background-position: top -50px;
    height: 70vh;
    padding-top: 10%;
    padding-bottom: 10%;
    max-height: 100%;
}

.instruction {
    margin: auto;
    background-color: #433D39;
    text-align: center;
    margin-bottom: 40px;
    padding: 2% 5% 2% 5%;
    max-width: 250px;
    max-height: 250px;
}

.instruction > p {
    color: #ebeecd;
    font-size: 150%;
}

#start-section {
    background-color: #1D1B1B;
    height: 20vh;
    padding: 20px;
    padding-bottom: 50px;

}

#start-button {
    margin: auto;
    background-color: #433D39;
    max-width: 120px;
    padding: 5% 2% 0.5% 2%;
    height: 40px;
    text-align: center;
}

#start-button:hover {
    border: 2px solid #ebeecd;
}

#start-button > a {
    text-decoration: none;
    color: #A4C3BF;
    font-size: 100%;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto;
}

/*Styles for the calculator*/

/*Calculator header style rules*/

#header-calculator {
    background: url(../images/calculate-money.jpg) no-repeat top center #1D1B1B;
    background-size: 150%;
    height: 50vh;
    padding-top: 10%;
}

#header-calculator-container {
    background-color: #1D1B1B;
    padding: 20px;
    margin: auto;
    max-width: 250px;
    border: 2px solid #ebeecd;
}

#header-calculator-container > h2 {
    font-size: 140%;
}

#header-calculator-container > p {
    text-align: center;
}

/*Calculator form style rules*/

#form-section {
    background-color: #433D39;
    padding: 2%;
    border-top: 5px solid #292d41;
    border-bottom: 5px solid #292d41;
}

#form-container {
    background-color: #1d1b1b;
    border: 2px solid #A4C3BF;
    padding: 2%;
    margin: auto;
    max-width: 600px;
}

#form-container > p {
    color: #ebeecd;
    font-size: 120%;
    font-weight: 700;
}

#form-container > h3 {
    color: #ebeecd;
    font-size: 120%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

#calculator-form {
    text-align: right;
    padding: 15px;
}

#calculator-form > input {
    border: 2px solid #433D39;
    background-color: #A4C3BF;
    width: 90px;
    padding: 5px;
    font-family: Ubuntu, sans-serif;
    color: #1D1B1B;
    font-weight: 600;
    font-size: 110%;
}

#calculator-form > input:hover {
    border: 2px solid #ebeecd;
}

#calculator-form > label {
    color: #ebeecd;
    font-size: 100%;
}

#calculator-form > hr {
    color: #ebeecd;
    border: 2px solid #ebeecd;
}

#calculator-form > p {
    color: #ebeecd;
    max-width: 200px;
    font-size: 80%;
    margin-top: 5px;
    margin: auto;
}

#calculator-form > button {
    min-width: 150px;
    max-width: 300px;
    background-color: #ebeecd;
    color: #1D1B1B;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 700;
    padding: 5px;
    border: 3px solid #433D39;
    margin-top: 10px;
    margin-bottom: 10px;
}

#calculator-form > button:hover {
    background-color: #1D1B1B;
    color: #ebeecd;
    border: 3px solid #A4C3BF;
}

.warning-div {
    max-height: 100px;
    max-width: 250px;
    background-color: lightgoldenrodyellow;
    border: 2px solid orange;
    color: maroon;
    padding: 5px;
    margin: auto;
    text-align: center;
}

/*Results section style rules*/

#clear-div {
    height: 60px;
    background-color: #433D39;
}

#results {
    background: url(../images/budget-money.jpg) no-repeat center center, #ebeecd;
    background-size: 400%;
    background-attachment: fixed;
}

.results-main {
    margin: auto;
    max-width: 300px;
    background-color: #292d41;
    color: #ebeecd;
    text-align: center;
    padding: 10px;
}

.results-main > h2 {
    font-size: 200%;
}

.results-main > ul {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.results-main > ul > li {
    font-size: 85%;
}

.results-main > p {
    text-decoration: underline;
    font-size: 85%;
    margin-top: 10px;
}

#changes {
    background-color: #ebeecd;
    border-top: 4px solid #A4C3BF;
    border-bottom: 4px solid #A4C3BF;
}

.change-title {
    color: #1D1B1B;
}

.change-text {
    margin: auto;
    background-color: #1D1B1B;
    border: 4px solid #A4C3BF;
    color: #ebeecd;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 250px;
    padding: 10px;
}

#recommendations {
    background-color: #433D39;
}

.rec-title {
    font-size: 150%;
    color: #ebeecd;
}

.good {
    width: 300px;
    margin: auto;
    background-color: lightgreen;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 2px solid darkgreen;
}

.good > p {
    padding: 5px;
    color: darkgreen;
}

.ok {
    width: 300px;
    margin: auto;
    background-color: lightgoldenrodyellow;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 2px solid orange;
}

.ok > p {
    padding: 5px;
    color: maroon;
}

.bad {
    width: 300px;
    margin: auto;
    background-color: lightcoral;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 2px solid darkred;
}

.bad > p {
    padding: 5px;
    color: darkred;
}

/*Styles for the faq */

#faq-header {
    background-color: #1D1B1B;
}

#faq-section {
    background: url('../images/budget-money.jpg') no-repeat center center, #433D39;
    background-size: 120%;
    border: 5px solid #292d41;
    min-height: 300px;
    padding-top: 25px;
}

#faq-container {
    margin: auto;
    background-color: #ebeecd;
    border: 1px solid #292d41;
    width: 90%;
    padding: 5px;
}

#faq-container > p {
    text-align: center;
    color: #1D1B1B;
    font-size: 90%;
}

#contact-section {
    background: url('../images/dollar-bills.jpg')no-repeat center center, #433D39;
    background-size: 170%;
    padding-bottom: 80px;
}

#contact-form {
    background-color: #A4C3BF;
    color: #1D1B1B;
    width: 90%;
    padding: 5px;
    margin: auto;
    border: 1px solid #1D1B1B;
    min-height: 250px;
    text-align: center;
}

#contact-form > label {
    font-size: 90%;
}

#full-name, #email {
    max-width: 40%;
    padding: 5px;
    border: 1px solid #433D39;
}

#message {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #433D39;
}

#contact-form > fieldset {
    border: 1px solid #1D1B1B;
}

#contact-submit {
    padding: 5px;
    border: 2px solid #433D39;
    background-color: #ebeecd;
    color: #1D1B1B;
    font-weight: 700;
}

#contact-submit:hover {
    background-color: #1D1B1B;
    color: #ebeecd;
}

/*Styles for the quiz*/

#quiz-header {
    background-color: #1d1b1b;
}

#quiz-section {
    background-color: #ebeecd;
    padding-bottom: 100px;
    padding-top: 30px;
}

#quiz {
    max-width: 500px;
    margin: auto;
}

#high-score {
    background-color: #A4C3BF;
    border: 2px solid #292d41;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
}

#high-score > p {
    text-align: center;
    font-weight: 700;
    font-size: 120%;
    color: #292d41;
    margin-bottom: 10px;
}

.high-score-number {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #1D1B1B;
    color: #ebeecd;
    background-color: #433D39;
    margin: auto;
}

.high-score-number > p {
    font-size: 50px;
    text-align: center;
    margin-top: 22.5px;
    font-weight: 700;
}

fieldset {
    border: 3px solid #292d41;
    margin: auto;
    max-width: 500px;
    margin-top: 40px;
    padding: 5px;
}

.question-box > p {
    font-size: 120%;
    color: #433D39;
    margin-bottom: 2px;
}

.question-box > legend {
    font-size: 120%;
    font-weight: 700;
    color: #292d41;
}

.question-box > label {
    color: #292d41;
}

#quiz > button {
    background-color: #A4C3BF;
    color: #1D1B1B;
    border: 1px solid #1D1B1B;
    padding: 5px;
    margin: 20px;
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    font-size: 100%;
}

#quiz > button:hover {
    border: 3px solid #433D39;
    margin: 18px;
}

.incorrect {
    background-color: lightcoral;
    border: 2px solid darkred;
    color: darkred;
    padding: 5px;
    margin: 5px;
}

.correct {
    background-color: lightgreen;
    border: 2px solid darkgreen;
    color: darkgreen;
    padding: 5px;
    margin: 5px;
}

/* styles for 404 page */

#header-error {
    background-color: #1D1B1B;
    text-align: center;
}

#error-container {
    background: url('../images/burn-money.jpg') no-repeat center center, #433D39;
    background-size: 70%;
    height: 100vh;
}

#home-link {
    max-width: 200px;
    color: #A4C3BF;
    font-size: 400%;
    text-align: center;
    padding-top: 30%;
    margin: auto;
}

#home-link:hover {
    color: #ebeecd;
    text-decoration: underline;
}

/*Media Queries*/

@media screen and (min-width: 600px) {
    /* General */

    footer > ul > li {
        margin-left: 40px;
        margin-right: 40px;
    }

    /* Home */

    /* Calculator */

    #calculator-form {
        text-align: center;
    }

    /* FAQ */

    /* Quiz */

    #quiz {
        border: 2px solid #292d41;
        padding: 10px;
        background-color: #ebeecd;
    }

    #quiz-section {
        background: url('../images/dollar-bills.jpg') top center, #A4C3BF;
        background-size: 200%;
    }
}

@media screen and (min-width: 900px) {
    /* General */

    footer > ul > li {
        font-size: 150%;
    }

    footer > ul > li {
        margin-left: 75px;
        margin-right: 75px;
    }

    /* Home */

    #header-home > h1 {
        font-size: 500%;
    }

    #header-home > h2 {
        font-size: 200%;
    }

    #instructions {
        height: 60vh;
        padding-top: 10%;
        background-size: 90%;
    }

    #start-button {
        padding: 20px;
        padding-bottom: 5px;
        max-width: 200px;
    }

    #start-button > a {
        font-size: 150%;
    }

    /*Calculator*/

    #header-calculator {
        max-height: 40vh;
        padding: 30px ;
    }

    #header-calculator-container {
        max-width: 700px;
        max-height: 500px;
        padding: 30px;
    }

    #header-calculator-container > h1 {
        font-size: 250%;
    }

    #header-calculator-container {
        font-size: 160%;
    }

    #form-container > h3 {
        font-size: 200%;
    }

    #calculator-form {
        font-size: 120%;
        padding-bottom: 100px;
    }

    .warning-div {
        max-width: 300px;
        max-height: 150px;
        text-align: center;
    }

    .results-main {
        margin: auto;
        max-width: 700px;
        background-color: #292d41;
        color: #ebeecd;
        text-align: center;
        padding: 10px;
    }
    
    .results-main > h2 {
        font-size: 300%;
    }
    
    .results-main > ul > li {
        font-size: 120%;
    }
    
    .results-main > p {
        text-decoration: underline;
        font-size: 120%;
    }
    
    .change-title {
        font-size: 200%;
    }
    
    .change-text {
        font-size: 120%;
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 500px;
        padding: 30px;
    }

    .good, .bad, .ok {
        width: 500px;
        font-size: 120%;
    }

    /* FAQ */

    #faq-header > h1 {
        font-size: 400%;
    }

    #faq-header > h2 {
        font-size: 200%;
    }

    #faq-container {
        max-width: 600px;
    }

    #contact-section {
        padding-top: 30px;
    }

    #contact-form {
        max-width: 700px;
        padding: 30px;
    }

    #contact-form > h3 {
        font-size: 200%;
    }

    #contact-form > p {
        font-size: 150%;
    }

    #contact-form > fieldset {
        padding: 20px;
    }

    /* Quiz */

    #quiz-header > h1 {
        font-size: 400%;
    }

    #quiz-header > h2 {
        font-size: 200%;
    }
}